body {
    background-color: #FDFDF0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 10rem auto;
    width: 40%;
    min-width: 400px;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgb(236, 201, 163), rgb(240, 180, 116));
    box-shadow: 0 0 25px 5px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

input {
    margin: 20px auto;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 5px;
}

button {
    display: inline-block;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
    box-shadow: 0 0 5px .2px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
}

button:last-of-type {
    margin-top: 0;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: unset;
}

h1 {
    font-size: 2rem;
}

p {
    font-weight: 500;
}